.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.loading-icon {
  margin: 10px 0 10px 0;
  animation: spin 2s infinite linear;
  @keyframes spin {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
}

.fix {
  display: inline-block;
}

.trash-zone {
  z-index: 99;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  animation: background 2s infinite linear;
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 7px;
  @keyframes background {
    0%{background-color: white;}
    25%{background-color: red;}
    50%{background-color: white;}
    75%{background-color: red;}
    100%{background-color: white;}
  }

}


