.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

.selected-image-wrapper {
  .selected-image {
    height: 100%;
    width: 100%;
    background-color: rgba(39, 39, 39, 0.91);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image {
  margin: auto;
  .image-context {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 15px;
    color: white;
    background-color: rgba(73, 73, 73, 0.81);
  }
}

.image-fix {
  width: 540px;
  max-width: 540px;
}

.image-module {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .arrow {
    font-size: 40px;
    align-self: center;
    flex-basis: 10%;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.button {
  float: right;
  color: white;
  font-size: 20px;
  margin: 10px;
  transition: font-size 2s;
}



